<div class="">
  <form action="">
    <span class="text-gray-800 justify-center flex mt-4"
      >Formulario de afiliación</span
    >
    <div class="">
      <div class="mt-4 w-full px-8">
        <app-input-icon
          placeholder="Nombre completo"
          svgPath="assets/svg/user.svg"
          class="mt-4"
        />
      </div>
      <div class="mt-4 w-full px-8">
        <app-input-icon
          placeholder="Correo electronico"
          svgPath="assets/svg/email.svg"
          class="mt-4"
        />
      </div>
      <div class="mt-4 w-full px-8">
        <app-input-icon
          placeholder="Telefono"
          svgPath="assets/svg/phone.svg"
          class="mt-4"
        />
      </div>
      <div class="mt-4 px-8">
        <div class="relative">
          <input
            type="text"
            id=""
            class="block w-full pl-4 py-2 border rounded-lg focus:border-gray-900"
            placeholder="Escribe algo que te guste"
            required
          />

          <button
            type="submit"
            class="text-white absolute right-0 top-0 h-full bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none font-medium rounded-r-lg text-sm px-4 py-2"
          >
            Agregar
          </button>
        </div>

      </div>
    </div>
  </form>
</div>
